In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all" # 한 실행칸에 프린트 여러개 해도 다 출력시키도록 하는 코드.

In [2]:
data = pd.read_csv('kospi_1분봉_201910_202010.csv')
data.head()
data.tail()

           일자        시간      시가      고가      저가      종가  거래량 단순 5  Unnamed: 8
0  2019/10/30  13:44:00  275.95  276.00  275.90  276.00  430              NaN
1  2019/10/30  13:45:00  276.00  276.00  275.90  275.95  374              NaN
2  2019/10/30  13:46:00  276.00  276.00  275.85  275.85  221              NaN
3  2019/10/30  13:47:00  275.85  275.85  275.85  275.85  326              NaN
4  2019/10/30  13:48:00  275.85  275.90  275.85  275.85   29  276         NaN

,일자,시간,시가,고가,저가,종가,거래량,단순 5,Unnamed: 8
65530,2020/07/01,13:06:00,282.40,282.40,282.25,282.25,417,283.6,NaN
65531,2020/07/01,13:07:00,282.25,282.35,282.25,282.35,118,245.2,NaN
65532,2020/07/01,13:08:00,282.35,282.35,282.15,282.25,483,284.4,NaN
65533,2020/07/01,13:09:00,282.25,282.30,282.20,282.20,191,256.4,NaN
65534,2020/07/01,13:10:00,282.25,282.30,282.25,282.30,78,257.4,NaN

In [3]:
data.columns = ['date', 'time', 'open', 'high', 'low', 'close', 'volume', 'a', 'b']
data['datetime'] = data['date'] + ' ' + data['time']

In [4]:
date_list = list(data['date'].unique())[1:]

In [5]:
date = data['date'].unique()

In [6]:
data = data[['date', 'datetime', 'close']]
data.head()

         date             datetime   close
0  2019/10/30  2019/10/30 13:44:00  276.00
1  2019/10/30  2019/10/30 13:45:00  275.95
2  2019/10/30  2019/10/30 13:46:00  275.85
3  2019/10/30  2019/10/30 13:47:00  275.85
4  2019/10/30  2019/10/30 13:48:00  275.85

In [7]:
data['datetime'] = pd.to_datetime(data['datetime'], format = '%Y%m%d %H:%M:%S')
data.head()
data.dtypes

         date            datetime   close
0  2019/10/30 2019-10-30 13:44:00  276.00
1  2019/10/30 2019-10-30 13:45:00  275.95
2  2019/10/30 2019-10-30 13:46:00  275.85
3  2019/10/30 2019-10-30 13:47:00  275.85
4  2019/10/30 2019-10-30 13:48:00  275.85

date                object
datetime    datetime64[ns]
close              float64
dtype: object

In [8]:
daily_ret = []
for i in date_list:
    tmp = data[data['date'] == i]['close'].reset_index()['close']
    daily_ret.append((i, np.log(tmp.iloc[-1]/tmp.iloc[0])))
daily_ret

[('2019/10/31', -0.002708805268086904),
 ('2019/11/01', 0.00918842605440639),
 ('2019/11/04', 0.00868876820101209),
 ('2019/11/05', 0.0047556232295682226),
 ('2019/11/06', 0.0010533708839176768),
 ('2019/11/07', 0.001406222766445355),
 ('2019/11/08', -0.009302392662313448),
 ('2019/11/11', -0.007616722679118582),
 ('2019/11/12', 0.00653308583037092),
 ('2019/11/13', -0.003718463779937361),
 ('2019/11/14', 0.007067167223092353),
 ('2019/11/15', 0.012925944161397177),
 ('2019/11/18', -0.000347765609486546),
 ('2019/11/19', -0.0001746877460988842),
 ('2019/11/20', -0.006348108075356637),
 ('2019/11/21', -0.014447767587000672),
 ('2019/11/22', 0.0037570488777123423),
 ('2019/11/25', 0.0031875359023509275),
 ('2019/11/26', -0.0005295207960636464),
 ('2019/11/27', -0.004230572147976499),
 ('2019/11/28', 0.002130304373903043),
 ('2019/11/29', -0.017146338982675414),
 ('2019/12/02', -0.0021571103097471783),
 ('2019/12/03', 0.003989849326194931),
 ('2019/12/04', 0.0009101666233125798),
 ('2019/12/05', -0.006001654824871665),
 ('2019/12/06', 0.004709300498325759),
 ('2019/12/09', -0.0012586534071962886),
 ('2019/12/10', 0.00844493384677435),
 ('2019/12/11', 0.005178120667421495),
 ('2019/12/12', 0.007926065272420723),
 ('2019/12/13', 0.0031298930089275656),
 ('2019/12/16', -0.00034806822488552696),
 ('2019/12/17', 0.009818354646400986),
 ('2019/12/18', -0.001200789234257585),
 ('2019/12/19', -0.002055499182095888),
 ('2019/12/20', -0.001538593345662375),
 ('2019/12/23', -0.004442173715123665),
 ('2019/12/24', -0.009105809846374883),
 ('2019/12/26', 0.004814314663188594),
 ('2019/12/27', 0.012380383687584874),
 ('2019/12/30', -0.0020304575503820627),
 ('2020/01/02', -0.015697302354470498),
 ('2020/01/03', -0.007859257949229865),
 ('2020/01/06', 0.0010386014435427066),
 ('2020/01/07', 0.006863444924982429),
 ('2020/01/08', 0.003106664562831325),
 ('2020/01/09', 0.0027155481724826097),
 ('2020/01/10', 0.008773466096221158),
 ('2020/01/13', 0.01120506748152557),
 ('2020/01/14', -0.0021500049628265083),
 ('2020/01/15', -0.000998834775900756),
 ('2020/01/16', 0.00961227155764673),
 ('2020/01/17', -0.005743841179252015),
 ('2020/01/20', 0.002614807830739047),
 ('2020/01/21', -0.012831233781988027),
 ('2020/01/22', 0.015109500783453276),
 ('2020/01/23', -0.004283367339758001),
 ('2020/01/28', -0.009003713249771539),
 ('2020/01/29', -0.0010193680801147916),
 ('2020/01/30', -0.01840595523592308),
 ('2020/01/31', -0.019792312754222798),
 ('2020/02/03', 0.015726094921588173),
 ('2020/02/04', 0.02045486466503942),
 ('2020/02/05', -0.004607909851328167),
 ('2020/02/06', 0.02146292985257514),
 ('2020/02/07', -0.007188863192447615),
 ('2020/02/10', 0.007958724593427155),
 ('2020/02/11', 0.005518870099382448),
 ('2020/02/12', 0.0066478556279163),
 ('2020/02/13', -0.008286424611061076),
 ('2020/02/14', 0.008607899533518554),
 ('2020/02/17', 0.0013212223226674463),
 ('2020/02/18', -0.007860229447943373),
 ('2020/02/19', -0.003841982509242933),
 ('2020/02/20', -0.009870427270115924),
 ('2020/02/21', -0.00017127686947753177),
 ('2020/02/24', -0.016578862971769793),
 ('2020/02/25', 0.013081324950246165),
 ('2020/02/26', 0.005551093133572135),
 ('2020/02/27', -0.005027843236630045),
 ('2020/02/28', -0.017394961183320488),
 ('2020/03/02', 0.00406880531739388),
 ('2020/03/03', -0.018195552942018443),
 ('2020/03/04', 0.02843275183821822),
 ('2020/03/05', 0.003205130948948331),
 ('2020/03/06', -0.01034022818514478),
 ('2020/03/09', -0.012311927469558033),
 ('2020/03/10', 0.011003715656861413),
 ('2020/03/11', -0.028776203861693384),
 ('2020/03/12', -0.03540015676185423),
 ('2020/03/13', 0.06261423228817406),
 ('2020/03/16', -0.062480753020932686),
 ('2020/03/17', 0.010302442748159644),
 ('2020/03/18', -0.07069274912736849),
 ('2020/03/19', -0.10743431321953893),
 ('2020/03/20', 0.0577726267454448),
 ('2020/03/23', -0.0015033828940315109),
 ('2020/03/24', 0.06356929402026229),
 ('2020/03/25', 0.029462032730316282),
 ('2020/03/26', -0.011358794035606405),
 ('2020/03/27', -0.0178348676360342),
 ('2020/03/30', 0.0177422242466041),
 ('2020/03/31', 0.00851068966790861),
 ('2020/04/01', -0.03748532142121568),
 ('2020/04/02', 0.026242485589647216),
 ('2020/04/03', 0.002593474546381985),
 ('2020/04/06', 0.02823022943132474),
 ('2020/04/07', 0.001428134487350466),
 ('2020/04/08', -0.0076312631868358655),
 ('2020/04/09', -0.0008158270899158598),
 ('2020/04/10', 0.011191489278400569),
 ('2020/04/13', -0.014766470116301007),
 ('2020/04/14', 0.008749674296100126),
 ('2020/04/16', 0.011391498286095338),
 ('2020/04/17', 0.011846140504162436),
 ('2020/04/20', -0.006942406143901538),
 ('2020/04/21', -0.005620247632153596),
 ('2020/04/22', 0.020955834356791343),
 ('2020/04/23', 0.009289522282664608),
 ('2020/04/24', -0.009594317050392494),
 ('2020/04/27', 0.018036362486098575),
 ('2020/04/28', 0.003913899321136315),
 ('2020/04/29', 0.007974368816008997),
 ('2020/05/04', -0.00917254686329191),
 ('2020/05/06', 0.008262883919556463),
 ('2020/05/07', 0.001183899112235324),
 ('2020/05/08', 0.0013659871379554697),
 ('2020/05/11', -0.01056347850956926),
 ('2020/05/12', -0.0070950238506036845),
 ('2020/05/13', 0.024751288280072073),
 ('2020/05/14', -0.001979414739720676),
 ('2020/05/15', -0.0037390577852742034),
 ('2020/05/18', 0.005484832555247117),
 ('2020/05/19', 0.0038248277648064467),
 ('2020/05/20', 0.005546538079085667),
 ('2020/05/21', -0.0011376565504610187),
 ('2020/05/22', -0.018187540674470436),
 ('2020/05/25', 0.009167367487019676),
 ('2020/05/26', 0.01397303701125789),
 ('2020/05/27', 0.0039388590735369),
 ('2020/05/28', -0.005204472714105794),
 ('2020/05/29', 0.0007493443587807578),
 ('2020/06/01', 0.01606237801012924),
 ('2020/06/02', 0.011487043987130999),
 ('2020/06/03', 0.02601226023500617),
 ('2020/06/04', -0.016105638631254054),
 ('2020/06/05', 0.017822082581674555),
 ('2020/06/08', -0.017898713571903813),
 ('2020/06/09', -0.009580911611757866),
 ('2020/06/10', 0.0008580009106368094),
 ('2020/06/11', -0.014076172983133734),
 ('2020/06/12', 0.005402498283348342),
 ('2020/06/15', -0.04338474560252402),
 ('2020/06/16', 0.019488166379650857),
 ('2020/06/17', 0.0021310610089541127),
 ('2020/06/18', 0.004804707169980337),
 ('2020/06/19', -0.00530130239609198),
 ('2020/06/22', 0.00017865118403918677),
 ('2020/06/23', -0.006197452328370661),
 ('2020/06/24', 0.011075089030687747),
 ('2020/06/25', -0.01233590328081015),
 ('2020/06/26', 0.0033786819728862023),
 ('2020/06/29', -0.00035945363435208754),
 ('2020/06/30', -0.0023121397583795024),
 ('2020/07/01', 0.0008859750734584432)]

In [9]:
begin_date = data['datetime'][0].date()
end_date = data['datetime'][len(data)-1].date()
begin_date
end_date

datetime.date(2019, 10, 30)

datetime.date(2020, 7, 1)

In [10]:
data['close'] = np.log(data['close'] / data['close'].shift(1))

In [11]:
data = data[data['datetime'] >= '2019-10-31'].reset_index(drop = True)
data.columns = ['date', 'datetime', 'ret']
data.head()

         date            datetime       ret
0  2019/10/31 2019-10-31 09:00:00  0.005606
1  2019/10/31 2019-10-31 09:01:00  0.000901
2  2019/10/31 2019-10-31 09:02:00  0.000900
3  2019/10/31 2019-10-31 09:03:00 -0.000900
4  2019/10/31 2019-10-31 09:04:00  0.000180

In [12]:
daily_ret

[('2019/10/31', -0.002708805268086904),
 ('2019/11/01', 0.00918842605440639),
 ('2019/11/04', 0.00868876820101209),
 ('2019/11/05', 0.0047556232295682226),
 ('2019/11/06', 0.0010533708839176768),
 ('2019/11/07', 0.001406222766445355),
 ('2019/11/08', -0.009302392662313448),
 ('2019/11/11', -0.007616722679118582),
 ('2019/11/12', 0.00653308583037092),
 ('2019/11/13', -0.003718463779937361),
 ('2019/11/14', 0.007067167223092353),
 ('2019/11/15', 0.012925944161397177),
 ('2019/11/18', -0.000347765609486546),
 ('2019/11/19', -0.0001746877460988842),
 ('2019/11/20', -0.006348108075356637),
 ('2019/11/21', -0.014447767587000672),
 ('2019/11/22', 0.0037570488777123423),
 ('2019/11/25', 0.0031875359023509275),
 ('2019/11/26', -0.0005295207960636464),
 ('2019/11/27', -0.004230572147976499),
 ('2019/11/28', 0.002130304373903043),
 ('2019/11/29', -0.017146338982675414),
 ('2019/12/02', -0.0021571103097471783),
 ('2019/12/03', 0.003989849326194931),
 ('2019/12/04', 0.0009101666233125798),
 ('2019/12/05', -0.006001654824871665),
 ('2019/12/06', 0.004709300498325759),
 ('2019/12/09', -0.0012586534071962886),
 ('2019/12/10', 0.00844493384677435),
 ('2019/12/11', 0.005178120667421495),
 ('2019/12/12', 0.007926065272420723),
 ('2019/12/13', 0.0031298930089275656),
 ('2019/12/16', -0.00034806822488552696),
 ('2019/12/17', 0.009818354646400986),
 ('2019/12/18', -0.001200789234257585),
 ('2019/12/19', -0.002055499182095888),
 ('2019/12/20', -0.001538593345662375),
 ('2019/12/23', -0.004442173715123665),
 ('2019/12/24', -0.009105809846374883),
 ('2019/12/26', 0.004814314663188594),
 ('2019/12/27', 0.012380383687584874),
 ('2019/12/30', -0.0020304575503820627),
 ('2020/01/02', -0.015697302354470498),
 ('2020/01/03', -0.007859257949229865),
 ('2020/01/06', 0.0010386014435427066),
 ('2020/01/07', 0.006863444924982429),
 ('2020/01/08', 0.003106664562831325),
 ('2020/01/09', 0.0027155481724826097),
 ('2020/01/10', 0.008773466096221158),
 ('2020/01/13', 0.01120506748152557),
 ('2020/01/14', -0.0021500049628265083),
 ('2020/01/15', -0.000998834775900756),
 ('2020/01/16', 0.00961227155764673),
 ('2020/01/17', -0.005743841179252015),
 ('2020/01/20', 0.002614807830739047),
 ('2020/01/21', -0.012831233781988027),
 ('2020/01/22', 0.015109500783453276),
 ('2020/01/23', -0.004283367339758001),
 ('2020/01/28', -0.009003713249771539),
 ('2020/01/29', -0.0010193680801147916),
 ('2020/01/30', -0.01840595523592308),
 ('2020/01/31', -0.019792312754222798),
 ('2020/02/03', 0.015726094921588173),
 ('2020/02/04', 0.02045486466503942),
 ('2020/02/05', -0.004607909851328167),
 ('2020/02/06', 0.02146292985257514),
 ('2020/02/07', -0.007188863192447615),
 ('2020/02/10', 0.007958724593427155),
 ('2020/02/11', 0.005518870099382448),
 ('2020/02/12', 0.0066478556279163),
 ('2020/02/13', -0.008286424611061076),
 ('2020/02/14', 0.008607899533518554),
 ('2020/02/17', 0.0013212223226674463),
 ('2020/02/18', -0.007860229447943373),
 ('2020/02/19', -0.003841982509242933),
 ('2020/02/20', -0.009870427270115924),
 ('2020/02/21', -0.00017127686947753177),
 ('2020/02/24', -0.016578862971769793),
 ('2020/02/25', 0.013081324950246165),
 ('2020/02/26', 0.005551093133572135),
 ('2020/02/27', -0.005027843236630045),
 ('2020/02/28', -0.017394961183320488),
 ('2020/03/02', 0.00406880531739388),
 ('2020/03/03', -0.018195552942018443),
 ('2020/03/04', 0.02843275183821822),
 ('2020/03/05', 0.003205130948948331),
 ('2020/03/06', -0.01034022818514478),
 ('2020/03/09', -0.012311927469558033),
 ('2020/03/10', 0.011003715656861413),
 ('2020/03/11', -0.028776203861693384),
 ('2020/03/12', -0.03540015676185423),
 ('2020/03/13', 0.06261423228817406),
 ('2020/03/16', -0.062480753020932686),
 ('2020/03/17', 0.010302442748159644),
 ('2020/03/18', -0.07069274912736849),
 ('2020/03/19', -0.10743431321953893),
 ('2020/03/20', 0.0577726267454448),
 ('2020/03/23', -0.0015033828940315109),
 ('2020/03/24', 0.06356929402026229),
 ('2020/03/25', 0.029462032730316282),
 ('2020/03/26', -0.011358794035606405),
 ('2020/03/27', -0.0178348676360342),
 ('2020/03/30', 0.0177422242466041),
 ('2020/03/31', 0.00851068966790861),
 ('2020/04/01', -0.03748532142121568),
 ('2020/04/02', 0.026242485589647216),
 ('2020/04/03', 0.002593474546381985),
 ('2020/04/06', 0.02823022943132474),
 ('2020/04/07', 0.001428134487350466),
 ('2020/04/08', -0.0076312631868358655),
 ('2020/04/09', -0.0008158270899158598),
 ('2020/04/10', 0.011191489278400569),
 ('2020/04/13', -0.014766470116301007),
 ('2020/04/14', 0.008749674296100126),
 ('2020/04/16', 0.011391498286095338),
 ('2020/04/17', 0.011846140504162436),
 ('2020/04/20', -0.006942406143901538),
 ('2020/04/21', -0.005620247632153596),
 ('2020/04/22', 0.020955834356791343),
 ('2020/04/23', 0.009289522282664608),
 ('2020/04/24', -0.009594317050392494),
 ('2020/04/27', 0.018036362486098575),
 ('2020/04/28', 0.003913899321136315),
 ('2020/04/29', 0.007974368816008997),
 ('2020/05/04', -0.00917254686329191),
 ('2020/05/06', 0.008262883919556463),
 ('2020/05/07', 0.001183899112235324),
 ('2020/05/08', 0.0013659871379554697),
 ('2020/05/11', -0.01056347850956926),
 ('2020/05/12', -0.0070950238506036845),
 ('2020/05/13', 0.024751288280072073),
 ('2020/05/14', -0.001979414739720676),
 ('2020/05/15', -0.0037390577852742034),
 ('2020/05/18', 0.005484832555247117),
 ('2020/05/19', 0.0038248277648064467),
 ('2020/05/20', 0.005546538079085667),
 ('2020/05/21', -0.0011376565504610187),
 ('2020/05/22', -0.018187540674470436),
 ('2020/05/25', 0.009167367487019676),
 ('2020/05/26', 0.01397303701125789),
 ('2020/05/27', 0.0039388590735369),
 ('2020/05/28', -0.005204472714105794),
 ('2020/05/29', 0.0007493443587807578),
 ('2020/06/01', 0.01606237801012924),
 ('2020/06/02', 0.011487043987130999),
 ('2020/06/03', 0.02601226023500617),
 ('2020/06/04', -0.016105638631254054),
 ('2020/06/05', 0.017822082581674555),
 ('2020/06/08', -0.017898713571903813),
 ('2020/06/09', -0.009580911611757866),
 ('2020/06/10', 0.0008580009106368094),
 ('2020/06/11', -0.014076172983133734),
 ('2020/06/12', 0.005402498283348342),
 ('2020/06/15', -0.04338474560252402),
 ('2020/06/16', 0.019488166379650857),
 ('2020/06/17', 0.0021310610089541127),
 ('2020/06/18', 0.004804707169980337),
 ('2020/06/19', -0.00530130239609198),
 ('2020/06/22', 0.00017865118403918677),
 ('2020/06/23', -0.006197452328370661),
 ('2020/06/24', 0.011075089030687747),
 ('2020/06/25', -0.01233590328081015),
 ('2020/06/26', 0.0033786819728862023),
 ('2020/06/29', -0.00035945363435208754),
 ('2020/06/30', -0.0023121397583795024),
 ('2020/07/01', 0.0008859750734584432)]

In [13]:
real_vol = []
for _date in date_list:
    tmp_ret = data[data['date'] == _date]['ret']
    tmp_ret = tmp_ret * tmp_ret
    res = tmp_ret.sum()
    real_vol.append((_date, res))
real_vol

[('2019/10/31', 6.802685364142479e-05),
 ('2019/11/01', 3.21701630564832e-05),
 ('2019/11/04', 7.062421186530718e-05),
 ('2019/11/05', 1.8287604188103353e-05),
 ('2019/11/06', 3.9676057998904884e-05),
 ('2019/11/07', 3.720092644768369e-05),
 ('2019/11/08', 7.764664665910499e-05),
 ('2019/11/11', 4.642611321080589e-05),
 ('2019/11/12', 5.31037390101037e-05),
 ('2019/11/13', 6.281143720713572e-05),
 ('2019/11/14', 4.9625758830483957e-05),
 ('2019/11/15', 4.7854823431001444e-05),
 ('2019/11/18', 3.381371280792294e-05),
 ('2019/11/19', 7.086518755118227e-05),
 ('2019/11/20', 8.373313706764785e-05),
 ('2019/11/21', 6.83947595303883e-05),
 ('2019/11/22', 3.632718091612021e-05),
 ('2019/11/25', 8.245438755582986e-05),
 ('2019/11/26', 4.9075112594282144e-05),
 ('2019/11/27', 5.944160415483764e-05),
 ('2019/11/28', 7.205603944499096e-05),
 ('2019/11/29', 6.611846736425535e-05),
 ('2019/12/02', 4.3550221559434266e-05),
 ('2019/12/03', 0.00016324502950954716),
 ('2019/12/04', 9.146081094559744e-05),
 ('2019/12/05', 6.713250722201341e-05),
 ('2019/12/06', 5.644571196759367e-05),
 ('2019/12/09', 6.812256421718978e-05),
 ('2019/12/10', 4.095187523332724e-05),
 ('2019/12/11', 2.7439313888014484e-05),
 ('2019/12/12', 7.671839597506844e-05),
 ('2019/12/13', 9.042188503702683e-05),
 ('2019/12/16', 2.9666801682280602e-05),
 ('2019/12/17', 6.768031556015081e-05),
 ('2019/12/18', 3.983487815636284e-05),
 ('2019/12/19', 5.192095581295616e-05),
 ('2019/12/20', 4.570146845946828e-05),
 ('2019/12/23', 4.362589980731537e-05),
 ('2019/12/24', 3.300383645813445e-05),
 ('2019/12/26', 3.858326765787715e-05),
 ('2019/12/27', 9.181147278404614e-05),
 ('2019/12/30', 3.606924604987428e-05),
 ('2020/01/02', 5.661465523862481e-05),
 ('2020/01/03', 0.0002185481294689578),
 ('2020/01/06', 0.00014031184119522953),
 ('2020/01/07', 7.66823625078368e-05),
 ('2020/01/08', 0.00019310686269517053),
 ('2020/01/09', 0.0002244887556382889),
 ('2020/01/10', 5.958287428501366e-05),
 ('2020/01/13', 5.2861888879746935e-05),
 ('2020/01/14', 8.625140907386236e-05),
 ('2020/01/15', 7.036330180547818e-05),
 ('2020/01/16', 3.668290465040733e-05),
 ('2020/01/17', 0.00010419989479702044),
 ('2020/01/20', 7.08929691792619e-05),
 ('2020/01/21', 4.197730918152904e-05),
 ('2020/01/22', 4.744499069483284e-05),
 ('2020/01/23', 0.00013746195249224777),
 ('2020/01/28', 0.0006496106365388475),
 ('2020/01/29', 8.000364673015553e-05),
 ('2020/01/30', 9.566410690247102e-05),
 ('2020/01/31', 0.00018994678057043964),
 ('2020/02/03', 0.0004575864371034822),
 ('2020/02/04', 0.00011732279135231086),
 ('2020/02/05', 0.0001940485653185285),
 ('2020/02/06', 0.00016219488410006247),
 ('2020/02/07', 0.00010479701258123765),
 ('2020/02/10', 0.00025826583978471343),
 ('2020/02/11', 0.0001021478052138385),
 ('2020/02/12', 7.64462529384387e-05),
 ('2020/02/13', 0.0001230906214129728),
 ('2020/02/14', 6.450440003124778e-05),
 ('2020/02/17', 5.728946735644384e-05),
 ('2020/02/18', 0.00015889256598051454),
 ('2020/02/19', 0.0001175898134258986),
 ('2020/02/20', 0.0001332332432212462),
 ('2020/02/21', 0.0004383166576567593),
 ('2020/02/24', 0.0005482645665584282),
 ('2020/02/25', 0.00012936145972494906),
 ('2020/02/26', 0.0006531349636655964),
 ('2020/02/27', 0.0001681336752249535),
 ('2020/02/28', 0.0005545576145673895),
 ('2020/03/02', 0.00023339823198581137),
 ('2020/03/03', 0.0007044359746191032),
 ('2020/03/04', 0.00021458361267040298),
 ('2020/03/05', 0.0001975839901404362),
 ('2020/03/06', 0.0003529541299579849),
 ('2020/03/09', 0.0011571661760570236),
 ('2020/03/10', 0.00026617846161637143),
 ('2020/03/11', 0.0002215459572812809),
 ('2020/03/12', 0.0010243093121343899),
 ('2020/03/13', 0.00889381430177785),
 ('2020/03/16', 0.001371828934849808),
 ('2020/03/17', 0.002492981153953566),
 ('2020/03/18', 0.0009320500083958227),
 ('2020/03/19', 0.005226450463372757),
 ('2020/03/20', 0.0024726694452451912),
 ('2020/03/23', 0.0071511564403621344),
 ('2020/03/24', 0.0022007500652287803),
 ('2020/03/25', 0.002138421223283015),
 ('2020/03/26', 0.0010280442277440357),
 ('2020/03/27', 0.0026804977435032854),
 ('2020/03/30', 0.0015836241928661075),
 ('2020/03/31', 0.0006856307413156339),
 ('2020/04/01', 0.0005303798307688316),
 ('2020/04/02', 0.0007163551569080828),
 ('2020/04/03', 0.0004286576587393142),
 ('2020/04/06', 0.0003592921641863546),
 ('2020/04/07', 0.0007205616475117531),
 ('2020/04/08', 0.0003560430190051433),
 ('2020/04/09', 0.0005041224147507567),
 ('2020/04/10', 0.00017533582241340361),
 ('2020/04/13', 0.00016070863527495354),
 ('2020/04/14', 0.0002264184866580745),
 ('2020/04/16', 0.0002482566894836277),
 ('2020/04/17', 0.00048181259634217364),
 ('2020/04/20', 0.00016599823795439031),
 ('2020/04/21', 0.0004939371628240334),
 ('2020/04/22', 0.00031405546193057917),
 ('2020/04/23', 0.00019992186177940352),
 ('2020/04/24', 0.00025447957145782236),
 ('2020/04/27', 0.00011969659030627562),
 ('2020/04/28', 0.00013524230488862183),
 ('2020/04/29', 0.0001277758250140283),
 ('2020/05/04', 0.0007472736799547665),
 ('2020/05/06', 0.0002999950164452969),
 ('2020/05/07', 0.0001426337596927798),
 ('2020/05/08', 0.00015939934469029758),
 ('2020/05/11', 8.577766540471626e-05),
 ('2020/05/12', 0.00013786228075943248),
 ('2020/05/13', 0.00031497490346186065),
 ('2020/05/14', 0.00023094154134014808),
 ('2020/05/15', 0.00018836030109945778),
 ('2020/05/18', 9.770066352486021e-05),
 ('2020/05/19', 0.0004406953231342505),
 ('2020/05/20', 7.719588077150153e-05),
 ('2020/05/21', 9.242406296484937e-05),
 ('2020/05/22', 7.925339863482285e-05),
 ('2020/05/25', 0.00011055447652782413),
 ('2020/05/26', 7.11328504456988e-05),
 ('2020/05/27', 8.180749276965525e-05),
 ('2020/05/28', 0.00023797803270647028),
 ('2020/05/29', 0.0001566282991926329),
 ('2020/06/01', 0.00011055260262909998),
 ('2020/06/02', 7.410478264910814e-05),
 ('2020/06/03', 0.00029034441362061833),
 ('2020/06/04', 0.0005415966782685237),
 ('2020/06/05', 0.00010523758180780381),
 ('2020/06/08', 0.00039525218931772183),
 ('2020/06/09', 0.0002704999475724062),
 ('2020/06/10', 0.00010760228233995785),
 ('2020/06/11', 0.00017310956275316052),
 ('2020/06/12', 0.0012272231004437186),
 ('2020/06/15', 0.0003697864150668972),
 ('2020/06/16', 0.0014801321424465384),
 ('2020/06/17', 0.000360549305424043),
 ('2020/06/18', 0.00022425031167449817),
 ('2020/06/19', 0.00026307703154572563),
 ('2020/06/22', 0.00019692820677093918),
 ('2020/06/23', 0.00038750374444546077),
 ('2020/06/24', 0.00013034209479437724),
 ('2020/06/25', 0.0004440071094827841),
 ('2020/06/26', 0.00019199943258037497),
 ('2020/06/29', 0.00027115225445589617),
 ('2020/06/30', 0.0002543466711766628),
 ('2020/07/01', 6.871003166907409e-05)]

In [14]:
daily_ret = np.array(daily_ret)
real_vol = np.array(real_vol)
len(daily_ret)
len(real_vol)

166

166

In [17]:
final_data = pd.DataFrame(data = np.array([daily_ret[:,0], daily_ret[:,1], real_vol[:, 1]]).T, columns = ['date', 'daily_ret', 'realized_vol']).iloc[:-1,:]

In [20]:
final_data.to_csv('data_hw2_preprocessed.csv')

In [19]:
final_data

           date                daily_ret            realized_vol
0    2019/10/31    -0.002708805268086904   6.802685364142479e-05
1    2019/11/01      0.00918842605440639    3.21701630564832e-05
2    2019/11/04      0.00868876820101209   7.062421186530718e-05
3    2019/11/05    0.0047556232295682226  1.8287604188103353e-05
4    2019/11/06    0.0010533708839176768  3.9676057998904884e-05
..          ...                      ...                     ...
160  2020/06/24     0.011075089030687747  0.00013034209479437724
161  2020/06/25     -0.01233590328081015   0.0004440071094827841
162  2020/06/26    0.0033786819728862023  0.00019199943258037497
163  2020/06/29  -0.00035945363435208754  0.00027115225445589617
164  2020/06/30   -0.0023121397583795024   0.0002543466711766628

[165 rows x 3 columns]